<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payvand.jahandideh.payvand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".FontDastnevis"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="اتوماسیون اداری"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Peyvand"
            android:label="صندوق دریافت" />
        <activity
            android:name=".SentPayam"
            android:label="ارسالی ها">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".Recive_Payam"
            android:label="پیام های دریافتی">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".NewNameh"
            android:label="نامه جدید">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".NewPayam"
            android:label="پیام جدید">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".Nameh"
            android:label="مشاهده نامه">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".NamehSent"
            android:label="ارسالی ها ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".Pishnevis"
            android:label="پیش نویس ها">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity
            android:name=".Chat"
            android:label="گفتگو کاربران">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
        <activity android:name=".Payam"
            android:label="متن پیام">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.payvand.jahandideh.payvand.Peyvand" /></activity>
        <activity android:name=".EditNameh"
            android:label="ویرایش نامه">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.payvand.jahandideh.payvand.Peyvand" />
        </activity>
    </application>

</manifest>